<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>강이삭 (isak)</title>
    <link rel="stylesheet" href="../style/reset.css" />
    <link rel="stylesheet" href="../style/style.css" />
  </head>
<body>
    <main id="app">
      <section class="section-project">
        <a name="project"></a>
        
        <h2>청약해드림</h2>
        <!-- 청야기 -->
        <article class="box-project">
          <!-- <div>
            <img
              class="img-project"
              src="src/img/청약이.png"
              alt="청약드림"
            />
            <button
            class="btn-detail"
            type="button"
            onclick="window.open('https://github.com/isak-kang/lgu_final_project', '_blank', 'noopener,noreferrer');"
            >
              자세히보기(git)
            </button>
          </div> -->
          
          <div class="txt-project">
            <button
            class="btn-detail"
            type="button"
            onclick="window.open('chungyak2.pdf', '_blank', 'noopener noreferrer');"
          >
            기획서(발표자료)
          </button>
          <button
            class="btn-detail"
            type="button"
            onclick="window.open('https://github.com/whynotsw-camp/wh02-3rd-1team-CHEONGYAGI', '_blank', 'noopener noreferrer');"
          >
            Github
          </button>

            <h3>상세 내용</h3>
            <dl>
              <dt>기간</dt>
              <dd>2024.11.28 ~ 2025.1.25</dd>
              <dt>설명</dt>
              <dd>청약에 도움을 주는 챗봇과 여러 가지 청약 정보를 제공하는 홈페이지</dd>
              <dt>사용 기술</dt>
              <dd>Python,FastAPI, React, NginX, MongoDB, MySQL, EC2, S3, CodeDeploy, GitHub Action</dd>
              <dt>맡은 역할</dt>
              <dd>백엔드, 프론트엔드(청약 캘린더), DB 및 서버구축(AWS사용), CI/CD</dd>
              <h3>맡은 일 (상세)</h3>
              <dt>1. 크롤링 자동화</dt>
              <dd>CronTab을 활용하여 매일 00시에 청약홈 데이터를 자동으로 크롤링하는 스크립트를 작성하고 운영했습니다 <br><br>
                또한, 수집된 데이터가 DB에 이미 존재하는 경우 크롤링을 중단하도록 로직을 구현하였습니다.<br><br>
                이를 통해 최신 청약 정보를 일정한 주기로 자동 수집하고, 중복 데이터 저장을 방지했습니다. <br><br>
                직접 알고리즘을 설계해서 처음에는 10분이상걸렸던게 어느새 6분 정도로 줄일 수 있었다.<br>
              </dd>
                
              <dt>2. CI/CD</dt>
              <dd>  GitHub Actions, AWS CodeDeploy, S3를 활용하여 자동 배포 환경을 구축하였으며, 이를 통해 애플리케이션이 자동으로 빌드, 테스트, 배포되는 파이프라인을 구현하였습니다.<br><br>

                개발자는 코드를 git에 push하면, 미리 작성한 GitHub Actions의 YAML 파일이 실행됩니다.  
                이 과정에서 GitHub Actions가 애플리케이션의 소스 코드를 압축하여 S3 버킷에 업로드합니다.<br><br>
              
                이후, AWS CodeDeploy가 실행되어 S3에 업로드된 패키지를 EC2(웹 서버)로 가져오고, 압축을 해제한 후 미리 작성된 배포 스크립트를 실행하여 애플리케이션을 배포합니다.<br><br>
              
                이를 통해 배포 프로세스를 자동화하고, 배포 과정에서의 수작업을 최소화하여 운영 효율성을 높였습니다.
              </dd>
              <dt>3. DB구축</dt>
              <dd>청약홈에서 크롤링한 정량적인 데이터는 MySQL에 저장했습니다.<br><br>

                  FAQ, 용어설명, 챗봇 로그같은 비정형 데이터는 MongoDB에 저장했습니다.<br><br>
                  
                  청약공고문(PDF)는 S3에 저장했습니다.</dd>
              <dt>4. 서버 구축</dt>
              <dd>
                  EC2로 배포 <br><br>

                  서버는 웹 서버와 DB 서버로 분리하여 운영하였습니다.<br><br>

                  웹 서버에는 ALB를 사용하여 트래픽을 여러 서버로 분산하고, Auto Scaling을 활용하여 서버 수를 자동 조정함으로써 가용성을 높였습니다.<br><br>
                
                  DB 서버는 MySQL과 MongoDB를 사용하였으며, 상대적으로 리소스 소모가 적어 성능이 낮은 인스턴스를 선택하여 운영하였습니다.<br><br>
                
                  웹 서버에는 React(프론트엔드)와 FastAPI(백엔드)를 배포하였으며, Nginx를 리버스 프록시로 활용하여 서비스의 안정성과 성능을 최적화하였습니다.<br><br>
                  
                  또한, 챗봇에 사용되는 RAG 모델이 높은 리소스를 요구하기 때문에, 해당 모델을 실행하는 서버는 일정 수준 이상의 성능을 갖춘 인스턴스를 사용하였습니다.
              </dd>
              <dt>5. 청약캘린더</dt>
              <dd>
                JavaScript의 FullCalendar 라이브러리를 사용하여 구현하였습니다.<br><br>
              
                클라이언트가 요청한 시작 및 종료 날짜를 기반으로 DB에서 데이터를 조회하여 제공하며,  
                필터링 옵션(1순위, 2순위, 특별공급, 무주택)에 따라 적절한 정보를 반환합니다.<br><br>
              
                또한, 사용자가 일정 항목을 클릭하면, 해당 청약의 이름을 활용하여 DB에서 상세 정보를 검색한 후 제공하도록 구현하였습니다.
              </dd>
              <dt>6. 로그인 및 회원가입 보안</dt>
              <dd>
                회원 비밀번호는 bcrypt 라이브러리를 사용하여 안전하게 암호화하였습니다.<br><br>
              
                또한, JWT(Json Web Token)를 활용하여 인증 시스템을 구축하였으며,  
                이를 통해 사용자가 로그인할 때 안전하게 인증할 수 있도록 구현하였습니다.
              </dd>

              <h3>트러블 슈팅</h3>
              <dt>1. 서버 멈춤 문제</dt>
              <dd>
                챗봇에 트래픽이 몰려 EC2(웹서버)의 CPU가 100%가 됐던문제<br><br>
                문제 해결 방법 <br> 
                1. 자주할거 같은 예상 질문들은 버튼 형식으로 제공하여 RAG 모델없이 시나리오 기반으로 움직이게 했습니다.<br>
                2. 인스턴스를 기본 프리티어 유형에서 t3.medium 유형으로 교체하여 인스턴스의 성능을 높혔습니다.
              </dd>
              <dt>2. 청약 캘린더 필터링 속도 문제</dt>
              <dd>
                기존에는 클라이언트에서 필터링을 진행했습니다.<br>
                하지만 이렇게 하면 필터링(무순위,1순위,2순위 등)버튼을 누르면 버퍼링? 필터링하는데 렉이걸림
                <br><br>
                문제 해결 방법<br>
                1. 기존에 클라이언트에서 필터링하던 방식에서 클라이언트가 필터링을 요청하면 서버에서 필터링하여 그 데이터를 API로 클라이언트에 다시 보내는 방식으로 바꿨습니다.
              </dd>

            
            </dl>
            <div>
              <h3>시연영상</h3>
              <a href="https://www.youtube.com/watch?v=F4uLerXovjk" target="_blank">
                <img src="https://img.youtube.com/vi/F4uLerXovjk/0.jpg" alt="시연영상">
              </a>
            </div>
            <br>
            <br>
            <br>
            <div>
              <h3>전체</h3>
              <img src="https://github.com/user-attachments/assets/fa19354a-4210-4a2a-8077-5de4d32b2ed7" alt="" width="1000" height="600">
              <br>
              <br>
              <br>

              
              <h3>CI/CD</h3>
              <img src="https://github.com/user-attachments/assets/26cbdbdb-3b7a-4f4e-a7d5-79baf86b9392" alt="" width="1000" height="600">
              <br>
              <br>
              <br>

              <h3>자동크롤링</h3>
              <img src="https://github.com/user-attachments/assets/b131e974-e552-42ea-9756-bf2c9d8efbdc" alt="" width="1000" height="600">

            </div>
          </div>
        </article>
      </section>>
    </main>
    <style>
      .btn-detail {
        float: right;
        width: 150px;
      }
    </style>
</body>
</html>