<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>강이삭 (isak)</title>
    <link rel="stylesheet" href="../style/reset.css" />
    <link rel="stylesheet" href="../style/style.css" />
  </head>
<body>
    <main id="app">
      <section class="section-project">
        <a name="project"></a>
        
        <h2>청약해드림</h2>
        <!-- 청야기 -->
        <article class="box-project">
          <!-- <div>
            <img
              class="img-project"
              src="src/img/청약이.png"
              alt="청약드림"
            />
            <button
            class="btn-detail"
            type="button"
            onclick="window.open('https://github.com/isak-kang/lgu_final_project', '_blank', 'noopener,noreferrer');"
            >
              자세히보기(git)
            </button>
          </div> -->
          
          <div class="txt-project">
            <button
            class="btn-detail"
            type="button"
            onclick="window.open('https://github.com/whynotsw-camp/wh02-3rd-1team-CHEONGYAGI', '_blank', 'noopener noreferrer');"
          >
            Github
          </button>

            <h3>상세 내용</h3>
            <dl>
              <dt>기간</dt>
              <dd>2024.11.28 ~ 2025.1.25</dd>
              <dt>설명</dt>
              <dd>청약에 도움을 주는 챗봇과 여러 가지 청약 정보를 제공하는 홈페이지</dd>
              <dt>사용 기술</dt>
              <dd>Python,FastAPI, React, NginX, MongoDB, MySQL, EC2, S3, CodeDeploy, GitHub Action, LangChain</dd>
              <dt>맡은 역할</dt>
              <dd>백엔드, 프론트엔드(디자인 제외, 기본틀만), DB 및 서버구축(AWS사용), CI/CD</dd>
              <h3>맡은 일 (상세)</h3>
              <dt>1. 크롤링 자동화</dt>
              <dd>CronTab을 활용하여 매일 00시에 청약홈 데이터를 자동으로 크롤링하는 스크립트를 작성하고 운영했습니다 <br><br>
                또한, 수집된 데이터가 DB에 이미 존재하는 경우 크롤링을 중단하도록 로직을 구현하였습니다.<br><br>
                이를 통해 최신 청약 정보를 일정한 주기로 자동 수집하고, 중복 데이터 저장을 방지했습니다. <br><br>
                직접 알고리즘을 설계해서 처음에는 10분이상걸렸던게 어느새 6분 정도로 줄일 수 있었다.<br>
                (자세한건 힘들었던점 2를 보면된다.)
              </dd>
                
              <dt>2. CI/CD</dt>
              <dd>  GitHub Actions, AWS CodeDeploy, S3를 활용하여 자동 배포 환경을 구축하였으며, 이를 통해 애플리케이션이 자동으로 빌드, 테스트, 배포되는 파이프라인을 구현하였습니다.<br><br>

                개발자는 코드를 git에 push하면, 미리 작성한 GitHub Actions의 YAML 파일이 실행됩니다.  
                이 과정에서 GitHub Actions가 애플리케이션의 소스 코드를 압축하여 S3 버킷에 업로드합니다.<br><br>
              
                이후, AWS CodeDeploy가 실행되어 S3에 업로드된 패키지를 EC2(웹 서버)로 가져오고, 압축을 해제한 후 미리 작성된 배포 스크립트를 실행하여 애플리케이션을 배포합니다.<br><br>
              
                이를 통해 배포 프로세스를 자동화하고, 배포 과정에서의 수작업을 최소화하여 운영 효율성을 높였습니다.
              </dd>
              <dt>3. DB구축</dt>
              <dd>청약홈에서 크롤링한 정량적인 데이터는 MySQL에 저장했습니다.<br><br>

                  FAQ, 용어설명, 챗봇 로그같은 비정형 데이터는 MongoDB에 저장했습니다.<br><br>
                  
                  청약공고문(PDF)는 S3에 저장했습니다.</dd>
              <dt>4. 서버 구축</dt>
              <dd>
                  EC2로 배포 <br><br>

                  서버는 웹 서버와 DB 서버로 분리하여 운영하였습니다.<br><br>

                  웹 서버에는 ALB를 사용하여 트래픽을 여러 서버로 분산하고, Auto Scaling을 활용하여 서버 수를 자동 조정함으로써 가용성을 높였습니다.<br><br>
                
                  DB 서버는 MySQL과 MongoDB를 사용하였으며, 상대적으로 리소스 소모가 적어 성능이 낮은 인스턴스를 선택하여 운영하였습니다.<br><br>
                
                  웹 서버에는 React(프론트엔드)와 FastAPI(백엔드)를 배포하였으며, Nginx를 리버스 프록시로 활용하여 서비스의 안정성과 성능을 최적화하였습니다.<br><br>
                  
                  또한, 챗봇에 사용되는 RAG 모델이 높은 리소스를 요구하기 때문에, 해당 모델을 실행하는 서버는 일정 수준 이상의 성능을 갖춘 인스턴스를 사용하였습니다.
              </dd>
              <dt>5. 청약캘린더</dt>
              <dd>
                JavaScript의 FullCalendar 라이브러리를 사용하여 구현하였습니다.<br><br>
              
                클라이언트가 요청한 시작 및 종료 날짜를 기반으로 DB에서 데이터를 조회하여 제공하며,  
                필터링 옵션(1순위, 2순위, 특별공급, 무주택)에 따라 적절한 정보를 반환합니다.<br><br>
              
                또한, 사용자가 일정 항목을 클릭하면, 해당 청약의 이름을 활용하여 DB에서 상세 정보를 검색한 후 제공하도록 구현하였습니다.
              </dd>
              <dt>6. 로그인 및 회원가입 보안</dt>
              <dd>
                회원 비밀번호는 bcrypt 라이브러리를 사용하여 안전하게 암호화하였습니다.<br><br>
              
                또한, JWT(Json Web Token)를 활용하여 인증 시스템을 구축하였으며,  
                이를 통해 사용자가 로그인할 때 안전하게 인증할 수 있도록 구현하였습니다.
              </dd>
              <dt>7. 그 외</dt>
              <dd>
                1. RAG 검색 성능 높히는 작업(아파트명, 청약일, 경쟁률, 데이터 출처 유형 등에 가중치를 적용)
                2. 최근 끝난 청약의 경쟁률, 다가오는 청약 기능<br>
                3. NaverAPI를 통해 뉴스크롤링(자동화까지)<br>
                4. 용어,FAQ 검색<br>
                5. 아이디 찾기, 비밀번호 교체<br>
                등등...
              </dd>
              <h3>트러블 슈팅</h3>
              <dt>1. 서버 멈춤 문제</dt>
              <dd>
                챗봇에 트래픽이 몰려 EC2(웹서버)의 CPU가 100%가 됐던문제<br><br>
                문제 해결 방법 <br> 
                1. 자주할거 같은 예상 질문들은 버튼 형식으로 제공하여 RAG 모델없이 시나리오 기반으로 움직이게 했습니다.<br>
                2. 인스턴스를 기본 프리티어 유형에서 t3.medium 유형으로 교체하여 인스턴스의 성능을 높혔습니다.
              </dd>
              <dt>2. 청약 캘린더 필터링 속도 문제</dt>
              <dd>
                기존에는 클라이언트에서 필터링을 진행했습니다.<br>
                하지만 이렇게 하면 필터링(무순위,1순위,2순위 등)버튼을 누르면 버퍼링? 필터링하는데 렉이걸림
                <br><br>
                문제 해결 방법<br>
                1. 기존에 클라이언트에서 필터링하던 방식에서 클라이언트가 필터링을 요청하면 서버에서 필터링하여 그 데이터를 API로 클라이언트에 다시 보내는 방식으로 바꿨습니다.
              </dd>
              <h3>힘들었던 점</h3>
              <dd>이제부터는 후기여서 말투 신경안쓰고 작성해서 말투가 바꼈었을수도 있습니당</dd>
              <dt>1. React</dt>
              <dd>
                우선 나는 React가 처음이였고 할 생각도 없었다. <br><br>
                그런데 내가 지나가는 말로 프론트를 맡은 분(원래는 챗봇 페이지만 만드는 거였음.)에게 React로 해보는게 어때라고 했고 그 분이 진짜로 만들어왔다.<br><br>
                그 때 나는 청약해드림 홈페이지를 HTML,JS로 만들고 있었는데 이왕 이렇게 된거 React로 만들고 합쳐야겠따 라고 생각했다.<br><br>
                그런데 ... 생각했던거 보다 힘들었다. 많이... 우선 React에서 FastAPI 데이터를 받는것도 힘들었고 내가 해놓은걸 React로 바꾸는 과정도 힘들었고 컴포넌트는 뭐고 페이지 이동은 어떻게 해야하는지도 몰랐따.<br><br>
                다행히 다른조에 React로 프로젝트를 해본 경험이 있는분이 있었는데 그 분이 자신이 들었던 유튜브 실습 강의를 알려주고 axios 등의 여러 React 개념을 알려주셔서 어떻게든 해냈던 기억이 난다.<br><br>
                그래도 React를 안했다면 내가 프론트 서버를 배포할 일도 없었을 것(이것도 힘들었다..)이고 API의 개념을 정확히 알지못했을 것이다.
                또한 서버와 클라이언트의 개념에 대해 깊이 공부를 안했을 것이다.<br><br>
                덕분에 진짜 발전 많이했다...
              </dd>
              <dt>2. 자동 크롤링</dt>
              <dd>
                음 이건 알고리즘을 짜는게 힘들었다.<br><br>

                처음에는 그냥 DB에 있던 없던 그냥 모든 데이터를 저장했는데 이렇게 하니 중복데이터가 생겨버려서 방식을 바꿨다.<br><br>

                크롤링할 때 DB에 있는 데이터(청약공고이름으로)인지 확인하고 중복이 있으면 크롤링을 멈추게 알고리즘을 설계했는데 기본 청약정보를 들고 올 때는 괜찮았지만 경쟁률이나 모집현환같은 데이터는 모집이 끝난 후 한번 더 수정이 이루어지기 때문에 기본 청약정보와는 다른 방식을 취해야했다.<br><br>

                그래서 생각해낸게 new아이콘이다. new아이콘이 있으면 크롤링을 하고 아니면 크롤링을 하지 않는 방법이다. 하지만 이 방법에도 단점이 있었는데 결국 모든 청약정보를 다 확인한다는 점이였다. 그래서 나는 하루마다 청약을 진행하기에 최대 4페이지까지만 청약정보를 확인하는 것으로 설계를 했다.<br><br>

                알고리즘을 설계하는게 힘들었던 부분이였는데 이 때가 아니였으면 내가 언제 이렇게 생각을 많이 해보나 싶기도 했다.<br>
                무사히 잘 되서 다행이다. ㅎ_ㅎ
              </dd>
              <h3>아쉬웠던점</h3>
              <dt>1.챗봇 성능</dt>
              <dd>솔직히 시간을 투자한거 치고 챗봇성능이 안좋았음.<br>
              나는 챗봇 담당이 아니였는데 마지막에 RAG에 들어가는 데이터를 수정하고 유사문서 검색하는 방식을 바꾸는 등 여러가지를 시도해서 조금 괜찮아 지긴했지만 그래도 대화를 할 수 있는 수준은 아니였음.<br>
              만약 다시 돌아간다면 챗봇에 더욱 시간을 투자할거같음.</dd>
              <dt>2.팀활동</dt>
              <dd>솔직히 분위기가 좋고 다같이 열심히 했지만 뒤로 갈 수록 일하는 사람만 하는 구조가 돼버려서 아쉬웠음.<br>
              다음에 팀활동을 한다면 일 배분을 더 잘해야 한다는걸 느낌.</dd>
              <dt>3.기획</dt>
              <dd>솔직히 개발을 다하고 시연까지 할 수 있는 수준이여서 1등할 줄 알았는데 2등해서 아쉬웠음.<br>
                그 이유에 대해 자체 피드백을 한 결과는 좀 더 사업이라고 생각하고 했어야했음.<br>
                내 입장에서는 포트폴리오를 남기자라는 생각으로 해서 개발을 중점으로 했지만 조금 더 사업성과 수익성을 생각하고 기획을 하고 개발을 했어야했음.
              </dd>
            
            
            </dl>
            <div>
              <h3>시연영상</h3>
              <a href="https://www.youtube.com/watch?v=F4uLerXovjk" target="_blank">
                <img src="https://img.youtube.com/vi/F4uLerXovjk/0.jpg" alt="시연영상">
              </a>
            </div>
            <br>
            <br>
            <br>
            <div>
              <h3>전체</h3>
              <img src="https://github.com/user-attachments/assets/fa19354a-4210-4a2a-8077-5de4d32b2ed7" alt="" width="1000" height="600">
              <br>
              <br>
              <br>

              <h3>서버 아키텍처</h3>
              <!-- <img src="https://github.com/user-attachments/assets/26cbdbdb-3b7a-4f4e-a7d5-79baf86b9392" alt="" width="1000" height="600"> -->
              <h3>추가예정</h3>
              <br>
              <br>
              <br>
              
              <h3>CI/CD</h3>
              <img src="https://github.com/user-attachments/assets/26cbdbdb-3b7a-4f4e-a7d5-79baf86b9392" alt="" width="1000" height="600">
              <br>
              <br>
              <br>

              <h3>자동크롤링</h3>
              <img src="https://github.com/user-attachments/assets/b131e974-e552-42ea-9756-bf2c9d8efbdc" alt="" width="1000" height="600">

            </div>
          </div>
        </article>
      </section>>
    </main>
    <style>
      .btn-detail {
        float: right;
        width: 150px;
      }
    </style>
</body>
</html>